*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color), #F3EFEC;
  color: var(--text-color), #312A4E;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a {
  color: inherit;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var( --accent-font), 'STIX Two Text', Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-bottom: 40px;
}

.content__title {
  font-size: 30px;
  padding-top: 7%;
  padding-bottom: 2.5%;
}

.content__text-block {
  font-family: var(--main-font), 'Raleway', Arial, Helvetica, sans-serif;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block > .content__paragraph:not(:last-child) {
  padding-bottom: 1.5em;
}

.content__blockquote {
  font-style: italic;
  line-height: 200%;
  width: 75%;
  padding-bottom: 1.5em;
  margin: 0 auto;
}

.content__list {
  list-style: none;
  position: relative;
  font-family: var(--main-font), 'Raleway', Arial, Helvetica, sans-serif;
}

.content__item:not(:last-child) {
  padding-bottom: 10px;
}

.content__item::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(/images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 15px;
}

.content__text-block_type_first-lettered:first-letter {
  background-color: var(--accent-color, #FFAB6B);
  padding: 0 4px;
  margin-right: 1px;
  font-family: var(--main-font), 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.content__text-block_type_first-lettered::first-line {
  display: inline-block;
}

.content__picture {
  width: 100%;
}

.content__figure {
  padding-top: 7%;
  padding-bottom: 7%;
  width: calc(100% + 10vi);
  right: 5vi;
  position: relative;
}

.content__picture-caption {
  font-family: var(--main-font), 'Raleway', Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 1px solid #312A4E;
  padding: 20px 0;
}

.content__card {
  aspect-ratio: 4 / 3;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
}

.colored-text::after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 3.66em;
  height: 0.25em;
  background-color: var(--accent-color, #FFAB6B);
  z-index: -1;
  left: calc(50% - 1.82em);
  top: calc(50% + 0.05em);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #312A4E;
  border-bottom: 1px solid #312A4E;
}

.header__logo {
  padding: 20px 0;
}

.header__theme-toggler {
  display: flex;
  list-style: none;
  padding: 26px 0;
  gap: 5px;
  font-weight: 400;
}

.header__theme-button {
  font-family: var(--main-font), 'Raleway', Arial, Helvetica, sans-serif; /**Зачем inherit, если здесь другой шрифт? */
  color: var(--text-color, #312A4E);
  cursor: pointer;
  font-size: 18px;
  border: none;
  background-color: var(--bg-color), #F3EFEC;
}

.header__theme-button:hover:not(.header__theme-button_is-active) {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-weight: 700;
}

.header__item {
  position: relative;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 4.5em;
  height: 0.4em;
  background-color: var(--accent-color, #FFAB6B);
  z-index: -1;
  top: 0.6em;
  right: 0.1em;
}

a, button:focus {
  outline: none;
}

a:not(.header__link-logo):focus-visible, button:focus-visible {
  outline: 1px solid var(--text-color, #312A4E);
  outline-offset: 1px;
}

a:hover {
  text-decoration: none;
  text-decoration: underline 1px var(--text-color, #312A4E);
  text-underline-offset: 1px;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.footer {
  border-top: 1px solid var(--text-color, #312A4E);
  color: var(--text-color, #312A4E);
  text-align: center;
  font-family: var(--main-font), 'Raleway', Arial, Helvetica, sans-serif;
  margin-top: 10%;
  padding: 2.5%;
}

.footer__copyright {
  font-size: 18px;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

.theme_dark .content__item::before {
  background-image: url("/images/marker-dark.svg");
}

.theme_dark
  .content__text-block_type_first-lettered
  .content__paragraph:first-child::first-letter {
  background-color: transparent;
  border: 1px solid var(--text-color, #b3b3b3);
  padding: 2px;
  font-weight: 700;
  margin-right: 4px;
}

.theme_dark .content__picture-caption {
  border-bottom: 1px solid var(--text-color, #b3b3b3);
}

.theme_dark .colored-text::after {
  background-image: url(/images/pattern.svg);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(/images/pattern.svg);
  width: 4em;
  z-index: 2;
}

.theme_dark .colored-text::after {
  background-image: url(/images/pattern.svg);
}

.theme_dark .content__list-item::before {
  background-image: url("/images/marker-dark.svg");
}

.theme_dark .header__theme-button {
  background-color: #171717;
}